@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(158, 213, 255, 1) 100%);
}
.container {
    display: flex;
    box-shadow: 0px 0px 10px -5px black;
    width: 768px;
    height: 480px;
    background-color: white;
    border-radius: 40px;
}
.left-side{
    display: flex;
    width: 50%;
    background-color: rgb(108, 130, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px 100px 100px 40px;
    color:  white;
}
.left-side button{
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border-color: rgb(0, 0, 0);
    padding: 5px 30px;
    border-style: solid;
    border-color: white;
    font-size: 20px;
    font-weight: 500;
}
.left-side p{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}
.right-side{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: transparent;
    align-items:center;
    justify-content: center;
    border-radius: 40px;
    text-align: center;
}
.input-box {
    margin-top: 20px;
    position: relative;
    width: 100%;
}
.input-box input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: none;
    border-radius: 8px;
    background-color: #99999927;
    outline: none;
}
.input-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}
.submit{
    margin-top: 20px;
    padding: 9px 140px;
    border-radius: 10px;
    background-color: rgb(108, 130, 255);
    border: none;
    outline: none;
    font-size: 20px;
    color:white;
    font-weight: 500;
}
a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.right-side p{
    margin-top: 20px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.social-platforms{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    margin-left: 90px;
    margin-right: 90px;
}



